In [1]:
# all visualisations can be animated on Tableau, any suggestions on colors, descriptions, 
# check of numbers, etc. are welcome

In [2]:
# Data Preparation (5%) - The data set was cleaned, formatted, and prepared for analysis in an exemplary way.

In [3]:
# source  U.S. Census Bureau, 1990, 2000, and 2010 Censuses of Population (corrected), and 2019 County Total Population Estimates.

In [4]:
from google.colab import drive

In [5]:
drive.mount('/content/drive/')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive/

In [8]:
!ls "/content/drive/My Drive/S76/"

PopulationReport.csv  us.csv  us-states.csv

In [9]:
source = '/content/drive/My Drive/S76/PopulationReport.csv'

In [10]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [28]:
data = pd.read_csv(source, delimiter=';')

In [29]:
data.head(2)

      Name  Pop. 2019  Unnamed: 2  Unnamed: 3  Unnamed: 4
0  Alabama  4 903 185         NaN         NaN         NaN
1   Alaska    731 545         NaN         NaN         NaN

In [30]:
data.tail(2)

           Name  Pop. 2019  Unnamed: 2  Unnamed: 3  Unnamed: 4
50      Wyoming    578 759         NaN         NaN         NaN
51  Puerto Rico  3 193 694         NaN         NaN         NaN

In [31]:
data.shape

(52, 5)

In [32]:
data.columns

Index(['Name', 'Pop. 2019', 'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4'], dtype='object')

In [33]:
data = data.drop(data.columns[[2, 3, 4]], axis=1)

In [34]:
data.head(2)

      Name  Pop. 2019
0  Alabama  4 903 185
1   Alaska    731 545

In [35]:
data.describe()

                Name Pop. 2019
count             52        52
unique            52        52
top     Rhode Island   623 989
freq               1         1

In [38]:
data['Pop. 2019'].sum

<bound method Series.sum of 0      4 903 185
1        731 545
2      7 278 717
3      3 017 804
4     39 512 223
5      5 758 736
6      3 565 287
7        973 764
8        705 749
9     21 477 737
10    10 617 423
11     1 415 872
12     1 787 065
13    12 671 821
14     6 732 219
15     3 155 070
16     2 913 314
17     4 467 673
18     4 648 794
19     1 344 212
20     6 045 680
21     6 892 503
22     9 986 857
23     5 639 632
24     2 976 149
25     6 137 428
26     1 068 778
27     1 934 408
28     3 080 156
29     1 359 711
30     8 882 190
31     2 096 829
32    19 453 561
33    10 488 084
34       762 062
35    11 689 100
36     3 956 971
37     4 217 737
38    12 801 989
39     1 059 361
40     5 148 714
41       884 659
42     6 829 174
43    28 995 881
44     3 205 958
45       623 989
46     8 535 519
47     7 614 893
48     1 792 147
49     5 822 434
50       578 759
51     3 193 694
Name: Pop. 2019, dtype: object>